# Copy file này thành terraform.tfvars và điền giá trị thực
# terraform.tfvars sẽ được gitignore để bảo mật

chando_shop_id  = "860099906"
chando_api_key  = "your_api_key_here"

facialbar_shop_id = ""
facialbar_api_key = ""

labhair_shop_id = ""
labhair_api_key = ""

menard_shop_id = ""
menard_api_key = ""

yaman_shop_id = ""
yaman_api_key = ""

